.product-carousel-container {
  /* width: 100%; */
  position: relative;
  margin: auto;
  height: 400px;
  border: 2px solid #eee;
  border-radius: 5px;
}

.product-carousel-image {
  max-width: 100%;
  max-height: 400px;
}

.navigation-image-container {
  display: flex ;
  justify-content: space-between
}

.navigation-image-container center {
  padding: 1%;
}

.navigation-image {
  max-width: 100%;
  max-height: 150px;;
}

.active {
  border: 1px solid red;
}


.new-navigation-container {
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}