.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 400px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 37%;
  width: auto;
  padding: 2% 1%;
  color:#000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #FFF;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.image {
  width: 100%;
  height: 400px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: flex;
  max-height: inherit;
  cursor: pointer;
}

.dot-container {
  display: flex;
  justify-content: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.message-container{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.message1{
  width:35%;
  position: absolute;
  top:20%;
  left:15%;
  overflow-wrap: break-word;
  animation: move-left-to-right-h1 2s;
  text-align: center;
}

.message2{
  width:35%;
  position: absolute;
  top:30%;
  left:15%;
  overflow-wrap: break-word;
  animation: move-left-to-right-h2 2s;
  text-align: center;
}

.buy-now {
  width:10%;
  left:28%;
  top:45%;
  background: black;
  color: white;
  width: 10%;
  padding: 1%;
  border-radius: 5px;
  font-size: inherit;
  position: absolute;
  animation: move-left-to-right-button 2s;
}

@keyframes move-left-to-right-h1 {
  0%   {top: 20%; left: -100%;}
  100% {top: 20%; left: 15%;}
}
@keyframes move-left-to-right-h2 {
  0%   {top: 30%; left: -100%;}
  100% {top: 30%; left: 15%;}
}
@keyframes move-left-to-right-button {
  0%   {top: 45%; left: -100%;}
  100% {top: 45%; left: 28%;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
  
}

@media only screen and (max-width: 1024px) {
  .slideshow-container {
    height: 300px;
  }

  .image {
    height: 300px;
  }

  .message1, .message2 {
    font-size: large;
  }
  .buy-now{
    width: 13%;
    font-size: xx-small;
    top: 53%;
    left: 25%;
  }

  @keyframes move-left-to-right-button {
    0%   {top: 53%; left: -100%;}
    100% {top: 53%; left: 25%;}
  }
}

@media only screen and (max-width: 450px) {
  .slideshow-container {
    height: 200px;
  }

  .image {
    height: 200px;
  }

  .message1, .message2 {
    font-size: x-small;
  }

  .buy-now{
    width: 15%;
    font-size: xx-small;
    top: 50%;
    left: 25%;
  }

  @keyframes move-left-to-right-button {
    0%   {top: 50%; left: -100%;}
    100% {top: 50%; left: 25%;}
  }

}