.product-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
}

.half {
  width: 50%;
  margin: 1%;
}

.wishlist {
  border-radius: 25px !important;
}

.product-discounted-price {
  font-size: x-large;
  font-weight: bold;
}

.tax {
  color: #03a685;
  font-weight: bold;
}

.action-buttons {
  margin-top: 2%;
}

.action-buttons .add-to-bag {
  color: white;
  background-color: black;
  border-radius: 25px;
  margin: 0 1%;
}

@media only screen and (max-width: 425px) {
  .new-navigation-container {
    height: 60px;
  }
  .product-carousel-container {
    height: 275px;
  }
  
  .product-carousel-image {
    max-height: 275px;
  }
  .half {
    margin: 0 0 5% 0;
  }
}

@media only screen and (max-width: 320px) {
  .product-carousel-container {
    height: 200px;
  }
  .product-carousel-image {
    max-height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .half {
    width: 100%;
  }
  .product-container {
    flex-direction: column;
  }
}

.spinner {
  margin-top: 20%;
  align-self: center;
}

.buy-now {
  background-color: #ff3f6c !important;
  color: white !important;
  border-radius: 25px !important;
  
}

.buy-now-link {
  text-decoration: none !important;
}